{{ $page_relpermalink := .RelPermalink }}
<nav id="nav" class="nav-collapse opened" aria-hidden="false">
    <ul class="navbar">
    {{ range .Param "menu" }}
        <li>
            <a class="{{ if eq $page_relpermalink .RelPermalink }}active{{ end }}" href="{{ .link }}">{{ .name | title }}</a>
        </li>
    {{ end }}
    <!--
        <li><a class="{{ if eq .Kind "home" }}active{{ end }}" href="/">Home</a></li>
        {{ range site.Params.mainSections }}
            {{ with site.GetPage (printf "/%s" .) }}
                <li><a class="{{ if eq $page_relpermalink .RelPermalink }}active{{ end }}" href="{{ .Permalink }}">{{ .Title | title }}</a></li>
            {{ end }}
        {{ end }}
        <li><a class="" href="https://exobrain.albertdelafuente.com/">Exobrain</a></li>
        {{ with site.GetPage "/search" }}
            <li><a class="{{ if eq $page_relpermalink .RelPermalink }}active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
    -->
    </ul>
</nav>
